<!DOCTYPE html>
<head>
  <title>Recommendation Letter Generator</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='university.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='university.png') }}" class="icon" />
  <h3>Recommendation Letter Generator</h3>
  <h4>Powered by <a href="https://openai.com/api/">OpenAI</a></h4>
  <form action="/" method="post">
    <input type="text" name="name" placeholder="Enter a name" required />
    <input type="text" name="role" placeholder="Enter a position (e.g., fellowship)" required />
    <input type="text" name="field" placeholder="Enter a field (e.g., psychology)" required />
    <input type="submit" value="Generate letter" />
  </form>
  {% if result %}
    <div class="result">
    {% for para in result %}
      <p>{{para}}</p>
    {% endfor %}
  </div>
  {% endif %}
</body>
